.banner {
  float: center;
  height: 180px;
  background-color: #1e3932;
  color: white;
  text-align: center;
}
input[type="text"] {
  width: 60%;
  padding: 15px;
  font-size: 20px;
  border-radius: 12px;
  outline: none;
  border: none;
  margin-bottom: 20px;
}
.search-btn {
  width: 10%;
  color: #fff;
  padding: 10px 18px;
  border-radius: 12px;
  cursor: pointer;
  outline: none;
  border: 3px solid #fff;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 3px;
}
.header3 {
  padding-top: 20px;
}
.search-btn:hover,
.search-btn:focus {
  box-shadow: inset 15em 0 0 0 #008248;
  transition: 0.75s ease;
}
