{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'thirdplace/bevbuilderStyleSheet.css' %}">
    <link rel="stylesheet" href="{% static 'thirdplace/navbarStyleSheet.css' %}">
  </head>
  <body>
    <nav class="navbar">
        <img src="{% static 'thirdplace/sblogo.svg' %}" alt="Coffee Masters" class="Logo"/>
        <ul class="nav-links">
            <a href="{% url 'index' %}" class='blkLink'>
                <li>Home</li>
            </a>
            <a href="{% url 'bevbuilder' %}" class='blkLink'>
                <li>Beverage Builder</li>
            </a>
            <a href="{% url 'browser' %}" class='blkLink'>
                <li>Browse</li>
            </a>
        </ul>
        <ul class="signUp">
            <a href="{% url 'login' %}" class='blkLink'>
                <li class='signIn'>Sign In</li>
            </a>
            <a href="{% url 'signup' %}" class='blkLink'>
                <li class='joinNow'>Sign Up</li>
            </a>
        </ul>
    </nav>
    <div class>
        <div class='banner'><h1 class='header3'>Beverage Builder</h1><p>Create Your Own Hand-Crafted Beverage</p></div>
        <div class='bevBuilder'>
        <div class='modLeft'>

            <h1>Flavors</h1>
                <ul class='modification'>
                    <li><label for="quantity">Mocha</label><input min="0" max="99" type="number" name="quantity"/></li>
                    <li><label for="quantity">White Mocha</label><input min="0" max="99" type="number" name="quantity"/></li>
                    <li><label for="quantity">Chai</label><input min="0" max="99" type="number" name="quantity"/></li>
                    <li><label for="quantity">Vanilla</label><input min="0" max="99" type="number" name="quantity"/></li>
                    <li><label for="quantity">Hazelnut</label><input min="0" max="99" type="number" name="quantity"/></li>
                    <li><label for="quantity">Cinnamon Dolce</label><input min="0" max="99" type="number" name="quantity"/></li>
                    <li><label for="quantity">Toffee Nut</label><input min="0" max="99" type="number" name="quantity"/></li>
                    <li><label for="quantity">Vanilla (SF)</label><input min="0" max="99" type="number" name="quantity"/></li>
                    <li><label for="quantity">Cinnamon Dolce (SF)</label><input min="0" max="99" type="number" name="quantity"/></li>
                </ul>

                <h1>Milk</h1>
                <ul class='modification'>
                    <li><label for="quantity">Whole Milk</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">2% Milk</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Nonfat Milk</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Almond Milk</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Soy Milk</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Coconut Milk Dolce</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Oat Milk</label><input type="radio" name="quantity"/></li>
                </ul>
        </div>
        <div>

        </div>
        <div class='modRight'>
            <h1>Modifications</h1>
                <ul class='modification'>
                    <li><label for="quantity">Whipped Cream</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Caramel Drizzle</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Mocha Drizzle</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Upside Down</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Double Blended</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Ice</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Cinnamon</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Upside Down</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Double Blended</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Ice</label><input type="radio" name="quantity"/></li>
                </ul>

                <h1>Espresso</h1>
                <ul class='modification'>
                    <li><label for="quantity">Signature</label><input min="0" max="99" type="number" name="quantity"/></li>
                    <li><label for="quantity">Blonde</label><input min="0" max="99" type="number" name="quantity"/></li>
                    <li><label for="quantity">Affegato</label><input min="0" max="99" type="number" name="quantity"/></li>
                    <li><label for="quantity">Ristretto</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Long</label><input type="radio" name="quantity"/></li>
                </ul>
        </div>

        </div>
        <h1 class='button'>Submit</h1>
    </div>
  </body>
</html>