{% extends thirdplace/wrapper.html %}
{% block content %}
{% load static %}

    <div class>
        <div class='banner'><h1 class='header3'>Beverage Builder</h1><p>Create Your Own Hand-Crafted Beverage</p></div>
        <div class='bevBuilder'>
        <div class='modLeft'>

            <h1>Flavors</h1>
                <ul class='modification'>
                    <li><label for="quantity">Mocha</label><input min="0" max="99" type="number" name="quantity"/></li>
                    <li><label for="quantity">White Mocha</label><input min="0" max="99" type="number" name="quantity"/></li>
                    <li><label for="quantity">Chai</label><input min="0" max="99" type="number" name="quantity"/></li>
                    <li><label for="quantity">Vanilla</label><input min="0" max="99" type="number" name="quantity"/></li>
                    <li><label for="quantity">Hazelnut</label><input min="0" max="99" type="number" name="quantity"/></li>
                    <li><label for="quantity">Cinnamon Dolce</label><input min="0" max="99" type="number" name="quantity"/></li>
                    <li><label for="quantity">Toffee Nut</label><input min="0" max="99" type="number" name="quantity"/></li>
                    <li><label for="quantity">Vanilla (SF)</label><input min="0" max="99" type="number" name="quantity"/></li>
                    <li><label for="quantity">Cinnamon Dolce (SF)</label><input min="0" max="99" type="number" name="quantity"/></li>
                </ul>

                <h1>Milk</h1>
                <ul class='modification'>
                    <li><label for="quantity">Whole Milk</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">2% Milk</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Nonfat Milk</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Almond Milk</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Soy Milk</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Coconut Milk Dolce</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Oat Milk</label><input type="radio" name="quantity"/></li>
                </ul>
        </div>
        <div>

        </div>
        <div class='modRight'>
            <h1>Modifications</h1>
                <ul class='modification'>
                    <li><label for="quantity">Whipped Cream</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Caramel Drizzle</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Mocha Drizzle</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Upside Down</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Double Blended</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Ice</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Cinnamon</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Upside Down</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Double Blended</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Ice</label><input type="radio" name="quantity"/></li>
                </ul>

                <h1>Espresso</h1>
                <ul class='modification'>
                    <li><label for="quantity">Signature</label><input min="0" max="99" type="number" name="quantity"/></li>
                    <li><label for="quantity">Blonde</label><input min="0" max="99" type="number" name="quantity"/></li>
                    <li><label for="quantity">Affegato</label><input min="0" max="99" type="number" name="quantity"/></li>
                    <li><label for="quantity">Ristretto</label><input type="radio" name="quantity"/></li>
                    <li><label for="quantity">Long</label><input type="radio" name="quantity"/></li>
                </ul>
        </div>

        </div>
        <h1 class='button'>Submit</h1>
    </div>

{% endblock %}