{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'thirdplace/browserStyleSheet.css' %}">
    <link rel="stylesheet" href="{% static 'thirdplace/navbarStyleSheet.css' %}">
  </head>
  <body>
    <nav class="navbar">
        <img src="{% static 'thirdplace/sblogo.svg' %}" alt="Coffee Masters" class="Logo"/>
        <ul class="nav-links">
            <a href="{% url 'index' %}" class='blkLink'>
                <li>Home</li>
            </a>
            <a href="{% url 'bevbuilder' %}" class='blkLink'>
                <li>Beverage Builder</li>
            </a>
            <a href="{% url 'browser' %}" class='blkLink'>
                <li>Browse</li>
            </a>
        </ul>
        <ul class="signUp">
            <a href="{% url 'login' %}" class='blkLink'>
                <li class='signIn'>Sign In</li>
            </a>
            <a href="{% url 'signup' %}" class='blkLink'>
                <li class='joinNow'>Sign Up</li>
            </a>
        </ul>
    </nav>
    <div class='browser-containter'>
        <div class='banner'>
            <h1 class='header3'>Browse Hand Crafted Beverages</h1> 
            <input name='search' type="text" placeholder="Search.."></input>                        
            <button class='search-btn'>Search</button>
        </div>
    </div>
  </body>
</html>
