{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'thirdplace/indexStyleSheet.css' %}">
    <link rel="stylesheet" href="{% static 'thirdplace/navbarStyleSheet.css' %}">
  </head>
  <body>
    <nav class="navbar">
        <img src="{% static 'thirdplace/sblogo.svg' %}" alt="Coffee Masters" class="Logo"/>
        <ul class="nav-links">
            <a href="{% url 'index' %}" class='blkLink'>
                <li>Home</li>
            </a>
            <a href="{% url 'bevbuilder' %}" class='blkLink'>
                <li>Beverage Builder</li>
            </a>
            <a href="{% url 'browser' %}" class='blkLink'>
                <li>Browse</li>
            </a>
        </ul>
        <ul class="signUp">
            <a href="{% url 'login' %}" class='blkLink'>
                <li class='signIn'>Sign In</li>
            </a>
            <a href="{% url 'signup' %}" class='blkLink'>
                <li class='joinNow'>Sign Up</li>
            </a>
        </ul>
    </nav>
    <div class='bevBanner'>
        <img src="{% static 'thirdplace/frap.png' %}" alt="Fraps" class="bevPNG"/>
        <ul class = 'bevText'>
            <li class = 'header1'>Beverage Builder</li>
            <li class = 'header2'>Build your own custom drink with our new tool</li>
            <li class = 'sbutton'>Get Started</li>
        </ul>
    </div>
    <div class='browsebanner'>
        <img src="{% static 'thirdplace/siren.png' %}" alt="" class="siren"/>
        <ul class = 'browseText'>
            <li class = 'header1'>Browse Custom Creations</li>
            <li class = 'header2'>Take a look through all our barista and customer created beverages</li>
            <li class = 'sbutton-browse'>Get Started</li>
        </ul>
    </div>
  </body>
</html>
