{% load static %}
<!DOCTYPE html>

<!-- Header and footer for inclusion on pages-->
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'thirdplace/indexStyleSheet.css' %}">
    <link rel="stylesheet" href="{% static 'thirdplace/navbarStyleSheet.css' %}">
  </head>
  <body>
    <nav class="navbar">
        <img src="{% static 'thirdplace/sblogo.svg' %}" alt="Coffee Masters" class="Logo"/>
        <ul class="nav-links">
            <a href="{% url 'index' %}" class='blkLink'>
                <li>Home</li>
            </a>
            <a href="{% url 'bevbuilder' %}" class='blkLink'>
                <li>Beverage Builder</li>
            </a>
            <a href="{% url 'browser' %}" class='blkLink'>
                <li>Browse</li>
            </a>
        </ul>
        <ul class="signUp">
            <a href="{% url 'login' %}" class='blkLink'>
                <li class='signIn'>Sign In</li>
            </a>
            <a href="{% url 'signup' %}" class='blkLink'>
                <li class='joinNow'>Sign Up</li>
            </a>
        </ul>
    </nav>
    {% block content%}
   <!-- Insertion point for body of page -->

  </body>
</html>